@font-face {
    font-family: 'AnekLatinRegular';
    src: local('MyFont'), url(../fonts/AnekLatin-Regular.ttf) format('truetype');
}

.login-form {
    font-family: AnekLatinRegular;
    width: 350px;
    margin: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    border-radius: 12px;

    
}
.error-red {
    color: red;
}

.login-form .split {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login-form .split .hidden {
    visibility: hidden;
}

.login-form a {
    color: black;
    text-decoration: none;
}


.form-controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.form-controls.align-right {
    align-items: flex-end;
}

.form-controls.align-centre {
    align-items: center;
}