.countdown {
    opacity: 0;
    font-size: 4rem;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.animate-countdown {
    animation: flash 1s 5 forwards;
}

.count-field-container {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}