.countdown {
    opacity: 0;
    font-size: 4rem;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.animate-countdown {
    animation: flash 1s infinite forwards;
}

.count-field-container {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.count-field-container label {
    font-size: 1.5rem;
}

.count-field-container input {
    margin-top: 24px;
    text-align: center;
    /* background-color: transparent; */
    border: none;
    font-size: 1.5rem;
}